.idea/
node_modules/
build/
config/
example/
test/
public/
*.log
.env
index.html
.DS_Store
.gitignore
package-lock.json
postcss.config.js
tailwind.config.js
tsconfig.json
tsconfig.node.json

src/assets/

dist/*.map
