.maximize {
  max-width: 100%;
  width: auto !important;
  height: 100% !important;
  z-index: 2;
  position: absolute !important;
  inset: 0;
  cursor: zoom-out !important;
  left: 50%;
  transform: translateX(-50%);
  display: flex !important;
  align-items: flex-start !important;
  justify-content: center;
}

.maximize::after {
  content: '';
  position: absolute;
  inset: 0;
  width: 200vw;
  height: 200vh;
  top: -100vh;
  left: -100vw;
  z-index: 2;
  background-color: #000;
}

.maximize video {
  z-index: 3;
  position: relative;
}

.maximize .remote_control {
  pointer-events: auto;
  opacity: 1;
  right: 120px;
  top: 0px;
  transform: scale(1);
}

.dragstart {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
    cursor: move;
  }
}

.dragging {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
    cursor: move;
  }
}

div[role="region"][aria-label="Video Player"] {
  width: 100% !important;
  height: 100% !important;
}

.popper_custom_rate {
  min-width: 90px !important;
}

.popper_custom_voice {
  min-width: 200px !important;
}

.popper_custom_setting {
  min-width: 220px !important;
}

.popper_custom {
  min-width: 100px !important;
  background-color: #222 !important;
  border: 1px #333 solid !important;
  filter: drop-shadow(0 2px 0.075rem rgba(0, 0, 0, 0.5)) !important;
}

.popper_custom .popper__arrow {
  border-top-color: #222 !important;
  filter: drop-shadow(0 2px 0.075rem rgba(0, 0, 0, 0.5)) !important;
}

.popper_custom .popper__arrow:after {
  border-top-color: #333 !important;
}

.two_split_screen #player_item_1 {
  width: 100%;
  height: 50%;
  align-items: flex-end;
}

.two_split_screen #player_item_2 {
  width: 100%;
  height: 50%;
  align-items: flex-start;
}

.two_split_screen .video__ {
  height: auto !important;
}

.player_wrap_pip {
  width: auto !important;
  height: 100% !important;
}

.player_wrap_pip .two_split_screen {
  position: relative;
}

.player_wrap_pip .two_split_screen .pip_main {
  width: 100% !important;
  height: 100% !important;
  position: relative;
  z-index: 1;
  align-items: flex-end !important;
  cursor: zoom-out !important;
}

.player_wrap_pip .two_split_screen .pip_sub {
  position: absolute !important;
  left: 0;
  bottom: 0;
  width: 28% !important;
  height: auto !important;
  z-index: 2;
  border-radius: 1px;
  cursor: zoom-in !important;
  align-items: flex-end !important;
  border: 3px solid #fff;
}

.three_split_screen #player_item_1 {
  width: 100%;
  height: 50%;
  align-items: flex-end;
}

.three_split_screen #player_item_2 {
  width: 100%;
  height: 50%;
  align-items: flex-start;
}

.three_split_screen #player_item_3 {
  width: 100%;
  height: auto;
}

.three_split_screen .video__ {
  height: auto !important;
}

/*.three_split_screen_grid {*/
/*  position: relative;*/
/*  display: flex;*/
/*  width: 100%;*/
/*}*/

/*.three_split_screen_grid .player_item:nth-child(1),*/
/*.three_split_screen_grid .player_item:nth-child(2) {*/
/*  flex: 1; !* 左边两个元素平分高度 *!*/
/*}*/

/*.three_split_screen_grid .player_item:nth-child(3) {*/
/*  position: absolute !important;*/
/*  right: 0;*/
/*  top: 0;*/
/*  flex: 1; !* 右边占据剩余空间的一半 *!*/
/*}*/


.four_split_screen #player_item_1 {
  width: 100%;
  height: auto;
}

.four_split_screen #player_item_2 {
  width: 100%;
  height: auto;
}

.four_split_screen #player_item_3 {
  width: 100%;
  height: auto;
}

.four_split_screen #player_item_4 {
  width: 80%;
  height: auto
}

.four_split_screen .video__ {
  width: 100% !important;
  height: 100%;
}

.five_split_screen #player_item_1 {
  width: auto;
  height: 25%;
}

.five_split_screen #player_item_2 {
  width: auto;
  height: 25%;
}

.five_split_screen #player_item_3 {
  width: auto;
  height: 25%;
}

.five_split_screen #player_item_4 {
  width: auto;
  height: 25%;
}

.five_split_screen #player_item_4 {
  width: auto;
  height: 25%;
}

.five_split_screen .video__ {
  width: 100% !important;
  height: 100%;
}

.video__ {
  width: 100%;
  aspect-ratio: 16 / 9;
  height: 100%;
  object-fit: fill !important;
  background-color: #000;
  box-shadow: 0 0 10px 0 rgba(0 0 0 / 40%);
  pointer-events: none;
}

.default_screen #player_item_1 {
  cursor: auto;
}

.default_screen #player_item_1 .remote_control,
.two_split_screen #player_item_1:not(.pip_sub) .remote_control,
.two_split_screen #player_item_2:not(.pip_sub) .remote_control,
.three_split_screen #player_item_3 .remote_control,
.four_split_screen #player_item_4 .remote_control,
.five_split_screen #player_item_5 .remote_control {
  right: 120px;
  top: 0px;
  transform: scale(1);
}

.video_player_1 .player_wrap {
  width: auto !important;
  height: 100% !important;
}

.video_player_2 .player_wrap {
  width: 100%;
  height: auto;
}

.video_player_3 .player_wrap {
  width: 1861px !important;
  height: 100%;
}

.video_player_4 .player_wrap {
  width: 1657px !important;
  height: 100%;
}

.video_player_5 .player_wrap {
  width: 1554px !important;
  height: 100% !important;
}

.video_player_s_3 .player_wrap,
.video_player_s_4 .player_wrap,
.video_player_s_5 .player_wrap {
  width: 100% !important;
  height: auto !important;
}

.player_item:hover .remote_control {
  pointer-events: auto;
  opacity: 1;
}

.remote_control {
  position: absolute;
  right: 50px;
  top: -20px;
  z-index: 4;
  width: 130px;
  height: 130px;
  pointer-events: none;
  opacity: 0;
  transition: transform 0.1s ease, opacity 0.1s ease;
  transform: scale(0.6);
}

.remote_control div {
  width: 40px;
  height: 40px;
  position: absolute;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--common-color);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.remote_control div i {
  font-size: 20px;
  color: #fff;
  pointer-events: none;
}

.remote_control div:nth-child(1) {
  left: 50%;
  top: 10px;
  transform: translateX(-50%) rotateZ(-90deg);
}

.remote_control div:nth-child(2) {
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.remote_control div:nth-child(3) {
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%) rotateZ(90deg);
}

.remote_control div:nth-child(4) {
  left: 10px;
  top: 50%;
  transform: translateY(-50%) rotateZ(-180deg);
}

.remote_control .action {
  width: 90px;
  height: 30px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  line-height: 28px;
  border-radius: 3px;
  right: -98px;
}

.remote_control .action i {
  font-size: 15px;
  margin-right: 10px;
  margin-top: 2px;
}

.remote_control div:nth-child(5) {
  bottom: 85px;
}

.remote_control div:nth-child(6) {
  bottom: 47px;
}

.remote_control div:nth-child(7) {
  bottom: 10px;
}
